@tailwind base;
@tailwind components;
@tailwind utilities;

/*
const celticBlue = '#205CCF';
const blackPearl = #040B14';
const alabasterWhite = '#FCFCFC';
const buttonBlue = '#1B9BE3';
const linkBlue = '#2EB2DC';
const textOnBlue = '#BDBDBD';
const textOnWhite = '#808080';
*/

.theme-light {  
  --celticBlue: #205CCF;
  --blackPearl: #040B14;
  --alabasterWhite: #FCFCFC;
  --buttonBlue: #1B9BE3;
  --linkBlue: #2EB2DC;
  --textOnBlue: #BDBDBD;
  --textOnWhite: #808080;
}
.theme-dark {
  --celticBlue: #2f3855;
  --blackPearl: #24293e;
  --alabasterWhite: #FCFCFC;
  --buttonBlue: #e3a71b;
  --linkBlue: #e7821e;
  --textOnBlue: #BDBDBD;
  --textOnWhite: #808080;
}