@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  @apply bg-ghost text-charcoal font-ui m-auto;
}

img {
  @apply max-w-lg;
}

svg {
  @apply w-7 h-7;
}

p {
  @apply text-blueGray-500;
}

.section-title {
  @apply text-2xl font-semibold text-center;
}

.section-title::after {
  flex: 1;
  content: "";
  border-bottom: 1px solid #000;
}


.landing-section {
  @apply m-auto m-4 bg-white p-4 max-w-5xl mt-3 min-h-1;
}

.project-title {
  @apply whitespace-nowrap text-navy-medium bg-gray-900 p-1 rounded font-bold
}

/* Temporary In-training indicator */
.in-training::before {
  @apply px-1 absolute;
  content: "In Training";
  font-size: 0.5em;
  right: -15%;
  bottom: -65%;
  transform: rotate(-10deg);
  color: #fff4ea;
  font-weight: 600;
  background: #a351e0ab;
  border-radius: 8px;
  border: 2px solid #cecece;
  text-shadow: 2px 2px #8d1ec5;
}